{% extends 'base.html.twig' %}

{% block title %}HouseBook | Register{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% else %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.FirstName)}}
        {{ form_row(registrationForm.LastName)}}
        {{ form_row(registrationForm.ProfilePicture)}}
        {{ form_row(registrationForm.roles)}}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
    {% endif %}
{% endblock %}
