{% extends 'base.html.twig' %}

{% block title %}Housebook | Stats{% endblock %}

{% block body %}

    <div class="row first-row d-flex justify-content-center">
        <div class="row row-select">
            <select class='form-select' id="chart-choice">
                <option value="costmonth">Costs this year by month</option>
                <option value="costyear">Costs by year</option>
                <option value="docmonth">Docs this year by month</option>
                <option value="docyear">Docs by year</option>
            </select>
        </div>
        <div class="row chart-container" style="position: relative; min-width:400px; max-width: 1100px">
            <canvas id="cost-chart"></canvas>
        </div>
    </div>
    <script>
        const chartLabels = {{months|json_encode()|raw}};

        const chartData = {
            labels: chartLabels,
            datasets: [{
                label: 'Costs by month',
                backgroundColor: 'rgb(115, 129, 255,0.3)',
                borderColor: 'rgb(115, 129, 255)',
                borderWidth: 2,
                borderRadius: Number.MAX_VALUE,
                data: {{monthCosts|json_encode()|raw}},
            }]
        };
        const chartConfig = {
            type: 'bar',
            data: chartData,
            options: {
                responsive: true,
                autoPadding : true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Costs in EURO',
                    }
                }
            }
        };
    </script>
    <script>

            const select = document.getElementById('chart-choice');
            const canvas = document.getElementById('cost-chart');
            const context = document.getElementById("cost-chart").getContext('2d');

            const costChart = new Chart(
                canvas,
                chartConfig
            );

            const chartChoice = document.getElementById('chart-choice');
            chartChoice.addEventListener('change',chartTracker);
            function  chartTracker(){
                if(chartChoice.value === 'costyear'){
                    costChart.data.datasets[0].data = {{yearCosts|json_encode()|raw}};
                    costChart.data.datasets[0].label = 'Costs by year';
                    costChart.data.labels = {{years|json_encode()|raw}};
                } else if (chartChoice.value ==='costmonth'){
                    costChart.data.datasets[0].data = {{monthCosts|json_encode()|raw}};
                    costChart.data.datasets[0].label = 'Costs this year by month';
                    costChart.data.labels = {{months|json_encode()|raw}};
                } else if (chartChoice.value ==='docyear'){
                    costChart.data.datasets[0].data = {{docyearCosts|json_encode()|raw}};
                    costChart.data.datasets[0].label = 'Docs by year';
                    costChart.data.labels = {{docyears|json_encode()|raw}};
                    costChart.config.options.plugins.title.text = 'Number of documents';
                } else if (chartChoice.value ==='docmonth'){
                    costChart.data.datasets[0].data = {{docmonthCosts|json_encode()|raw}};
                    costChart.data.datasets[0].label = 'Docs this year by month';
                    costChart.data.labels = {{docmonths|json_encode()|raw}};
                    costChart.config.options.plugins.title.text = 'Number of documents';
                }

                costChart.update();
            }
    </script>
{% endblock %}
