{% extends 'base.html.twig' %}

{% block title %}HouseBook | Projects{% endblock %}

{% block body %}
    <div class="container-fluid"><h1>Projects</h1></div>
    <div class="container">
    
    {% for project in app.user.project %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top img-fluid-2 img-thumbnail" src={{asset ('/uploads/profile_pictures/' ~ project.user.profilePicture) }}></img>
        <div class="card-body">
            <h5 class="card-title">{{ project.name }}</h5>
            <p class="card-text">{{project.user.lastName}}</p>
            <a href="{{ path('project_show', {'slug': project.slug}) }}" class="btn btn-primary stretched-link">Open project</a>
            <a class = "btn btn-danger" href="{{ path('project_edit', {'slug': project.slug}) }}">Edit</a>
        </div>
    </div>
    {% else %}
            <tr>
                <td colspan="3">No projects to show!Please create one!</td>
            </tr>
    {% endfor %}
   
    <a class = "btn btn-primary" href="{{ path('project_new') }}">Create new</a>
{% endblock %}
