{% extends 'base.html.twig' %}

{% block title %}HouseBook | Projects{% endblock %}

{% block body %}
    <div class="container-fluid"><h1>Projects</h1></div>
    <div class="container">
    <div class="row mb-5 cstm-height-card">
    {% for project in projects %}

		    <div class="project-card d-flex justify-content-between col-md-4 pb-5">
		    	<div class="card">
                <a href="{{ path('project_show', {'slug': project.slug}) }}">
                        <div class="d-flex justify-content-center">
                            <img src='{{asset ('/uploads/projects/'~ project.projectDirectory ~'/'~ project.profilePicture) }}' class="card-img" alt="...">
                        </div>
		    			<div class="card-body">
		    			    <h5 class="card-title">{{project.name}}</h5>
		    			    <p class="card-text mt-4">{{project.description}}</p>
                            <div class="card-text d-flex justify-content-between mt-4">
                                <p><i class='bx bxs-user'></i> {{project.user.firstName}} {{project.user.lastName}}</p>
                                <p><i class='bx bxs-calendar-alt'></i> {{project.createdAt|date("M d, y")}}</p>
                            </div>
                        </div>
		    	</a>
                </div>
		    </div>

    {% else %}
            <tr>
                <td colspan="3">No projects to show!Please create one!</td>
            </tr>
    {% endfor %}
    </div>
    <a class = "btn btn-primary" href="{{ path('project_new') }}">Create new</a>
{% endblock %}