{% extends 'base.html.twig' %}

{% block title %}HouseBook | Project{% endblock %}

{% block body %}
    <h1>Project</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ project.name }}</td>
            </tr>
            <tr>
                <th>Numer of Stages</th>
                <td>{{project.stage|length}}</td>
            </tr>
        </tbody>
    </table>
      <table class="table">
        <tbody>
            {% for stage in project.stage %}
            <tr>
                <th>Id</th>
                <td>{{ stage.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ stage.name }}</td>
            </tr>
            <tr>
                <th>Action</th>
                <td><a href="{{ path('stage_show', {'slug': stage.slug}) }}">Show Stage</a></td>
            </tr>
            <tr>
                <th>Created</th>
                <td> {{ stage.createdAt ? stage.createdAt|ago : 'unpublished' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('project_index') }}">back to list</a>

    <a href="{{ path('project_edit', {'slug': project.slug}) }}">edit</a>

    {{ include('project/_delete_form.html.twig') }}
{% endblock %}
