{% extends 'base.html.twig' %}

{% block title %}HouseBook | Project{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row first-row">

            <div class="col-12 col-sm-3 first-col">
                <img src={{asset ('/uploads/projects/'~ project.projectDirectory ~'/'~ project.profilePicture) }} class="project-image" alt="...">
            </div>

            <div class="col-12 col-sm-9 second-col">
                <div class="row project_title">
                    <div class="col-12 col-md-11 col-sm-11">
                        {{ project.name }} <br/>
                        {{ project.address }}
                    </div>
                    <div class="col-12 col-md-1 col-sm-1">
                        <form method="post" action="{{ path('project_delete', {'slug': project.slug}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.slug) }}">
                            <button class="btn btn-delete"><i class='bx bxs-trash-alt bx-sm'></i></button>
                        </form>
                    </div>
                </div>
                <div class="row project_map">
                      <a class='nav_link project_link' data-toggle="modal" data-target=".bd-example-modal-lg"><i class='bx bxs-map'> </i> Open in maps</a>
                </div>
                <div class="row project_map project_info">
                    <div class="col">
                        <a class='nav_link project_link' href="{{path('cost_index', {'project':project.slug})}}">
                            <i class='bx bxs-dollar-circle'></i>{{ project.costusd }} Invested
                        </a>
                    </div>
                    <div class="col">
                        <a class='nav_link project_link' href="{{path('document_index', {'project':project.slug})}}">
                            <i class='bx bxs-file'></i>{{project.documents|length}} Documents
                        </a>
                    </div>
                    {% set count = 0 %}
                    {% for stage in project.stage %}
                        {% for step in stage.steps %}
                            {% set count = count + 1 %}
                        {% endfor %}
                    {% endfor %}
                    <div class="col">
                        <a class='nav_link project_link' href="/">
                            <i class='bx bxs-layer' ></i>   {{ count }} Steps in project
                        </a>
                    </div>
                </div>
                <div class="row d-flex align-content-center project_map project_button_row">
                    <div class="col-12 col-md-6 col-sm-12 d-flex justify-content-center">
                        <a class="btn nav_link project_link project_btn rounded-pill" href="{{ path('document_new', {'slug': project.slug}) }}">
                            <i class='bx bx-folder-plus bx-sm'></i>New document
                        </a>
                        <a href="{{ path('cost_new', {'slug': project.slug}) }}" class="btn nav_link project_link project_btn rounded-pill">
                            <i class='bx bx-wallet bx-sm' ></i>New cost
                        </a>
                    </div>
                    <div class="col-12 col-md-6 col-sm-12 d-flex justify-content-center">

                    </div>

                </div>

            </div>
        </div>
        <div class="row second-row">
            <h3 class="project-description">{{ project.description }}</h3>
            <p class ="d-none" id="project_lat">{{project.lat}} </p>
            <p class ="d-none" id="project_lng">{{project.lng}} </p>
            <div class="row row-section"></div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="row d-flex project-stage">
                        <div class="col-8 project-description">Stages for this project</div>
                        <div class="col-4">
                            <a href="{{ path('stage_new', {'slug': project.slug}) }}" class="add-link" ><i class='bx bxs-layer-plus bx-sm'></i></a>
                        </div>
                    </div>
                        <ol>
                        {% for stage in project.stage %}

                            <li>
                                {{ stage.name}}
                                <a href="{{ path('steps_new', {'slug': stage.slug}) }}" class="add-link"><i class="fas fa-plus-circle"></i></a>
                                {{ include('stage/_delete_form.html.twig') }}
                            </li>
                            <ol>
                            {% for step in stage.steps %}

                                <li><a href="{{path('steps_show',{'slug': step.slug})}}">{{step.name}}</a>
                                {% if step.document|length > 0 %}
                                ({{step.document|length}} documents)
                                {% endif %}
                                </li>
                            {% endfor %}
                            </ol>
                        {% endfor %}
                    </ol>

                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    Section 2
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    {% if project.documents|length >3 %}
                        <p class="folder-icon">Last 3 documents of this project...</p>
                    {% endif%}
                    {% for document in project.documents|slice(-3) %}
                        <div class="row document-show align-items-center">
                            <div class="col-2 d-flex">
                                <i class='bx bxs-file bx-lg folder-icon'></i>
                            </div>
                            <div class="col-8 document-info">
                                <div class="document-name">{{document.name}}</div>
                                <div class="document-ext">{{document.name|split('.',2)[1]}}</div>
                            </div>
                            <div class="col-2">
                                <a class="document-download" href="{{ path('document_download', {'file': document.path}) }}"><i class='bx bx-down-arrow-circle  bx-md'></i></a>
                            </div>
                        </div>
                    {% endfor %}
                    {% if project.documents|length >3 %}
                            <a href = "{{path('document_index', {'project':project.slug})}}" class="show-more">Show more...</a>
                    {% endif%}
                </div>
        </div>


    </div>
    <div id="infowindow-content">
        <span id="place-name" class="title">{{project.name}}</span><br />
        <span id="place-address" >{{project.Description}}</span><br />
    </div>



    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Project's location on the map</h5>
                    <a type="button" class="close nav_link project_link" data-dismiss="modal" aria-label="Close">
                        <i class='bx bx-x bx-md'></i>
                    </a>
                </div>
                <div class="modal-body">
                    <div id="map"></div>
                    <div id="infowindow-content">
                        <span id="place-name" class="title"></span><br />
                        <span id="place-address" ></span><br />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_iCIeZYa54exJQEYuAXAtPkQvWWwxzkQ&callback=initMap&libraries=places&v=weekly"
            defer
    ></script>
    <script>
        let map;
        let service;
        let infowindow;

        function initMap() {
            const project_lat = document.getElementById("project_lat").textContent;
            const project_lng = document.getElementById("project_lng").textContent;

            const project = new google.maps.LatLng(project_lat, project_lng);

            map = new google.maps.Map(document.getElementById("map"), {
                center: project,
                zoom: 15,
            });

            marker = new google.maps.Marker({
                position: project,
                map
            });
            const infowindow = new google.maps.InfoWindow();
            const infowindowContent = document.getElementById("infowindow-content");

            infowindow.setContent(infowindowContent);

            infowindow.open(map, marker);

        }

        window.initMap = initMap;
    </script>
{% endblock %}
