{% extends 'base.html.twig' %}

{% block title %}HouseBook | Project{% endblock %}

{% block body %}
    <h1>{{project.name}}</h1>

    <img src={{asset ('/uploads/project_profile_pictures/' ~ project.profilePicture) }} class="project-image" alt="...">
   
    <a href="{{ path('project_index') }}">Back to your projects</a>

    <a href="{{ path('stage_new', {'slug': project.slug}) }}">Add stage</a>

    <a href="{{ path('cost_new', {'slug': project.slug}) }}">Add cost</a>

    <a href="{{ path('project_edit', {'slug': project.slug}) }}">Edit</a>
    
    {{ include('project/_delete_form.html.twig') }}
{% endblock %}
