{% extends 'base.html.twig' %}

{% block title %}HouseBook | Profile{% endblock %}

{% block body %}
    <div class="row d-flex user-row align-self-center">
<div class="d-flex justify-content-center picture-row ">
    <img class="user-profile" src={{asset ('/uploads/profile_pictures/' ~ app.user.profilePicture) }}></img>
</div>

<div class="d-flex justify-content-center">
<h3>First Name: {{ app.user.firstName}}</h3>
</div>

<div class="d-flex justify-content-center">
<h3>Last Name: {{ app.user.lastName}}</h3>
</div>
    <div class="d-flex justify-content-center">
        <h3>Email: {{app.user.email}}</h3>
    </div>
    <div class="d-flex justify-content-center">
        <h3>Projects: {{ app.user.project|length}}</h3>
    </div>
    </div>
{% endblock %}
